body{
  margin: auto;
  width: 1500px;
  color: black;
  font-size: 15px;
}
header{
background-color: aqua;
  height: 150px;
  background-image:url(img/pattern.png)
}
h1{
  font-size: 50px;
}
#author{
  color: grey;
  font-size: 25px;
}
.the-booleaner{
  color: rgb(4, 65, 163);
}
#date{
  color: grey;
  font-size: 20px;
}
#loremcolor{
  background-color: yellow;
}
p{
  font-size: 20px;

}
  