body{
  margin: auto;
  width: 1400px;
  color: black;
  font-size: 15px;
}
header{
background-color: aqua;
  height: 150px;
  background-image:url(img/pattern.png)
}
h1{
  font-size: 50px;
}
#author{
  color: grey;
  font-size: 25px;
}
.the-booleaner{
  color: rgb(4, 65, 163);
}
#date{
  color: grey;
  font-size: 20px;
}
#loremcolor{
  background-color: yellow;
}
p{
  font-size: 20px;

}
table{
  text-align: center;
}
table thead{
  color: white;
  background-color: rgb(4, 148, 148);
  width: .8em;
}
table .mini{
  width: 300px;
  height: 50px;
}
table .last{
  width: 700px;
  height: 50px;
}
table .color-blu{
  background-color: antiquewhite;
}
.second-background{
  background-color: yellow;
}
h3{
  color: grey;
}